.wrapper {
    max-width: $desktop-width;
    margin: auto;
    @include media-small-desktop {
        max-width: $small-desktop-width;
    }
    @include media-tablet {
        max-width: $tablet-width;
    }
    &__pets {
        @include media-small-desktop {
            max-width: 976px;
        }
    }
    &__testimonials {
        max-width: 976px;
    }
}