.block-controls {
    display: flex;
    align-items: center;
    gap: 34px;
}

.theme-togler {
    display: flex;
    padding: 5px 28px 5px 6px;
    background: #F2F2F2;
    border-radius: 190px;
}

.theme-togler__circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    cursor: pointer;
}

.burger-menu {
    display: none;
    @include media-tablet {
        display: block;
    }
}