.gallery {
    position: absolute;
    top: 406px;
    right: 0px;
    width: 1124px;
    @include media-small-desktop {
        width: 720px;
        top: 432px;
    }
    @include media-tablet {
        width: 588px;
        top: 408px;
    }
}

.line-block {
    position: absolute;
    top: 182px;
}

.gallery-pets-viewport {
    overflow: hidden;
}

.gallery-pets {
    display: flex;
    align-items: center;
    gap: 46px;
    padding-left: 135px;
    @include media-tablet {
        gap: 30px;
        padding-left: 71px;
    }
    &_pet-in-zoo {
        gap: 30px;
        padding: 0px;
        @include media-small-desktop {
            gap: 20px;
        }
    }
}

.pet {
    position: relative;
    width: 140px;
    height: 203px;
    @extend %transition;
    @include media-tablet {
        width: 180px;
        height: 261px;
    }
    &_default {
        width: 245px;
        height: 352px;
    }
    &:hover {
        >* {
            transform: translateY(0px);
        }
    }
    &_pet-in-zoo {
        width: 278px;
        height: 399px;
        @include media-small-desktop {
            width: 210px;
            height: 301px;
        }
    }
}

.pet__img {
    width: 140px;
    height: 203px;
    filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
    border-radius: 5px;
    @include media-tablet {
        width: 180px;
        height: 261px;
        filter: none;
    }
    &_default {
        width: 245px;
        height: 352px;
    }
    &_pet-in-zoo {
        width: 278px;
        height: 399px;
        filter: none;
        @include media-small-desktop {
            width: 210px;
            height: 301px;
        }
    }
}

.pet-content {
    position: absolute;
    left: 0px;
    top: 232px;
    padding: 0 24px;
    transform: translateY(120px);
    @extend %transition;
    &_pet-in-zoo {
        top: 269px;
        left: 22px;
        transform: translateY(130px);
        overflow: hidden;
        @include media-small-desktop {
            top: 183px;
            left: 9px;
            padding: 0px;
        }
    }
}

.pet-content__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pet-content__description {
    @include font($size: 1.4rem, $weight: 400, $height: 1.6rem);
    margin: 0 0 14px;
    padding-right: 12px;
    color: #FFFFFF;
}