.how-works {
    padding: 100px 0 101px;
}

.how-works__wrapper {
    padding: 0 414px;
    @include media-small-desktop {
        padding: 0 77px;
    }
}

.how-works-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.how-works__title {
    @include font($size: 4.8rem, $weight: 900, $height: 5.6rem);
    align-self: flex-start;
    margin: 0px;
    color: #333333;
}

.how-works__description {
    @include font($size: 1.4rem, $weight: 400, $height: 1.6rem);
    margin: 0px;
    color: #4F4F4F;
}

.animals-viewport {
    width: 100%;
    overflow: hidden;
}

.animals {
    display: flex;
    gap: 46px;
}