.navigation {
    display: flex;
    gap: 83px;
    margin: 0px;
    &_footer {
        gap: 73px;
    }
    @include media-tablet {
        display: none;
    }
}

.navigation__item {
    @include font($size: 1.6rem, $weight: 500, $height: 1.9rem);
    text-decoration: none;
    color: #333333;
    &:hover {
        @include font($size: 1.6rem, $weight: 900, $height:1.9rem);
        text-decoration: underline;
        @extend %transition;
    }
    &_active {
        @include font($size: 1.6rem, $weight: 900, $height:1.9rem);
        text-decoration: underline;
        pointer-events: none;
    }

    &_footer {
        color: #FEFEFE;
    }
}