.pagination {
    width: 245px;
    padding: 20px 0 0 186px;
    &_how-works {
        padding: 0px;
    }
    &_pet-in-zoo {
        padding: 0px;
        margin: 30px auto 30px;
    }
    &_testimonials {
        padding: 0 0 30px;
    }
}

.pagination__number {
    @include font($size: 2.4rem, $weight: 900, $height: 2.8rem);
    margin: 0 0 11px;
    text-align: center;
    color: #FEFEFE;
    >* {
        @include font($size: 1.4rem, $weight: 900, $height: 1.6rem);
        color: #BDBDBD;
    }
    &_how-works {
        color: #333333;
        >* {
            color: #BDBDBD;
        }
    }
    &_pet-in-zoo {
        color: #333333;
        >* {
            color: #828282;
        }
    }
    &_testimonials {
        color: #333333;
        >* {
            color: #828282;
        }
    }
}

.pagination__range {
    -webkit-appearance: none;
    appearance: none;
    width: 245px;
    height: 5px;
    background: rgba(189, 189, 189, 0.57);
    outline: none;
}

.pagination__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 10px;
    background: #FEFEFE;
    cursor: pointer;
}

.pagination__range_how-works::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 62px;
    height: 10px;
    background: #333333;
    cursor: pointer;
}

.pagination__range_pet-in-zoo::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 10px;
    background: #333333;
    cursor: pointer;
}

.pagination__range_testimonials::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 10px;
    background: #333333;
    cursor: pointer;
}