.pay-feed {
    padding: 100px 0;
    background: #F2F2F2;
}

.pay-feed__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-tablet {
        padding: 0 31px;
    }
}

.pay-feed__title {
    text-align: center;
}

.pay-feed__subtitle {
    @include font($size: 1.4rem, $weight: 400, $height: 1.6rem);
    text-align: center;
    margin: 30px 0 0;
    color: #4F4F4F;
    @include media-tablet {
        @include font($size: 1.4rem, $weight: 500, $height: 1.6rem);
        margin: 15px 0 0;
    }
}

.layout-5-column {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 63px;
    padding: 92px 0 60px;
    @include media-small-desktop {
        gap: 17px;
        padding: 50px 0;
    }
    @include media-tablet {
        flex-direction: column;
        gap: 30px;
    }
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 245px;
    height: 245px;

    border-radius: 50%;
    border: 1px solid #4BD8B5;
}

.step__name {
    @include font($size: 2rem, $weight: 900, $height: 2.3rem);
    margin: 18px 0 0;
    text-align: center;
    color: #4F4F4F;
}