.watch-online {
    position: relative;
    padding: 206px 0 111px;
    background-image: url(../Assets/img/backgrounds/watch-online-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    @include media-small-desktop {
        padding: 128px 0 72px;
    }
    @include media-tablet {
        padding: 122px 0 100px;
    }
}

.title-block {
    padding-left: 210px;
    padding-bottom: 197px;
    @include media-small-desktop {
        padding: 0 0 320px;
    }
    @include media-tablet {
        padding: 0 0 374px;
    }
}

.title-block__title {
    margin-bottom: 37px;
    @include media-tablet {
        margin-bottom: 30px;
    }
}

.social-net {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &_footer {
        flex-direction: row;
        @include media-small-desktop {
            padding-bottom: 40px;
        }
    }
}

.social-icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    &_instagram {
        background-image: url(../Assets/icons/social-icons/instagram.svg);
    }
    &_twitter {
        background-image: url(../Assets/icons/social-icons/twitter.svg);
    }
    &_you-tube {
        background-image: url(../Assets/icons/social-icons/you-tube.svg);
    }
    &_vk {
        background-image: url(../Assets/icons/social-icons/vk.svg);
    }
}