.watch-online {
    padding: 206px 0 111px;
    background-image: url(../Assets/img/backgrounds/watch-online-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-block {
    padding-left: 210px;
}

.title-block__title {
    margin-bottom: 37px;
}

.social-net {
    display: flex;
    flex-direction: column;
    gap: 15px;
}