.animal-pin {
    position: absolute;
    width: 93.36px;
    height: 93.38px;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
    cursor: pointer;
    @extend %transition;

    &_eagle {
        top: 141.66px;
        left: 116.4px;
        background-image: url(../Assets/icons/animal-pins/eagles-placeholder.svg);
        &:focus {
            background-image: url(../Assets/icons/animal-pins/eagles-placeholder-focus.svg);
        }
    }
    &_crocodile {
        top: 160.53px;
        left: 230.58px;
        background-image: url(../Assets/icons/animal-pins/crocodile-placeholder.svg);
        &:focus {
            background-image: url(../Assets/icons/animal-pins/crocodile-placeholder-focus.svg);
        }
    }
    &_gorilla {
        top: 245.5px;
        left: 557.35px;
        background-image: url(../Assets/icons/animal-pins/gorilla-placeholder.svg);
        &:focus {
            background-image: url(../Assets/icons/animal-pins/gorilla-placeholder-focus.svg);
        }
    }
    &_panda {
        top: 152.63px;
        left: 875.63px;
        background-image: url(../Assets/icons/animal-pins/panda-placeholder.svg);
        &:focus {
            background-image: url(../Assets/icons/animal-pins/panda-placeholder-focus.svg);
        }
    }
}

.step__arrow {
    width: 108px;
    height: 16px;
    background-image: url(../Assets/icons/arrow-icons/arrow-step.svg);
    background-repeat: no-repeat;
    background-position: center center;
    @include media-small-desktop {
        width: 49px;
        background-image: url(../Assets/icons/arrow-icons/arrow-step-small-desktop.svg);
    }
}